<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tuner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <!-- Header section with navigation links -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{{ url_for('home') }}">Tuner</a> <!-- clickable-->
            </div>

            <!-- Hamburger Menu Icon -->
            <div class="hamburger" onclick="toggleMenu()">
                &#9776;
            </div>

            <!-- Navigation Links -->
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content area where individual page content will be inserted -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <!-- Script to toggle the nav-links -->
    <script>
        function toggleMenu() {
            const navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('active');
        }
    </script>

</body>

</html>
