{% extends "base.html" %}

{% block title %}Tuner{% endblock %}

{% block content %}

<section class="hero">
    <img width="270px" src="{{ url_for('static', filename='img/logo_640.svg') }}">
    <h1>Discover Spotify users <br>with a similar music taste to you</h1>
    <!-- <a href="{{ url_for('results') }}" class="cta-button-large">Launch Tuner</a> -->
</section>
<section class="center-justify">
    <h3>What is Tuner?</h3>
    <p>
        Tuner is a web application to help Spotify users find other users who have a similar music
        taste. Music taste is quantified by the frequency of genre tags amongst a users top artists,
        which can be compared amongst other users.
    </p>
    <p>
        After running Tuner, we'll find another user who's used Tuner who has a similar music taste
        to you. We'll present what genres and top artists you both enjoy, and we'll suggest some
        similar artists for you based on this match! We'll also link the Spotify profile of your
        match so that you can view their public playlists and follow them.
    </p>
    <p>
        Data privacy is important to us, we only store your top artists and your Spotify profile URL
        so that future users may discover artists they may be interested in based on your unique
        music taste.
    </p>
    <!-- Not enough padding here -->
    <p style="text-align: center;">
        To find people with similar music taste,
        <br>
        Click below to log into Spotify and find like-minded users.
    </p>
    <!-- Too much padding here -->
    <a href="{{ url_for('login') }}" class="cta-button-large">Launch Tuner</a>
</section>

{% endblock %}
